body {
    background-color: black;
}

.logo {
    padding-left: 20px;
    position: relative;
}

.img-hero {
    background-image: url(../img/background-game.png);
    background-size: cover;
}

.container-games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game {
    /* border: 1px #ccc solid; */
    padding: 15px;
    padding-top: 5px;
}

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: 150px;
    left: calc(50% - 75px);
    bottom: 7%;
    text-align: center;
    box-sizing: border-box;
    content: attr(data-tooltip);
    color: black;
    background: white;
    padding: 3px;
    font-size: 0.9em;
    font-weight: bold;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}
